{% extends '::base.html.twig' %}

{% block title %}
Volma - Projects
{% endblock %}
{% block body %}
<div class="notify">
    
<h2 class="price">{{project.getName()}}</h2>

    <br><br>

<p align="left">
<strong>Description</strong>
<br>{{project.getDescription()}}<br><br>
<strong>Objectives</strong>
<br>{{project.getObjectives()}}<br><br>
<strong>Project Manager</strong>
<br>{{pm.getFirstname()}}<br><br><br>
<strong>Initiated on</strong>
<br>{{project.getStartdate|date('Y-m-d')}}<br><br><br>
<strong>Scheduled end date</strong>
<br>{{project.getEnddate|date('Y-m-d')}}<br><br><br>
</div>
<br><br><br>
<div class="notify">
<h2 class="price" >Events</h2>
<p>

</p>
    
<p align = "center"><table width = 90% align = "center">
{% for event in events%}
        <tr>
            <td width=50%><p><strong>{{event[1]}}</strong></p></td>
            <td>
                <p>
                    <a href="view_event?eid={{event[0]}}&id={{id}}&pname={{project.getName()}}">
                        <button>
                            view details
                        </button>
                        </a>
                    </p>
                </td>
        </tr>
        
        
{% endfor %}{% block createevent %}
        {% endblock %}
    </table>
</p>


</div>
{% endblock %}