{% extends '::base.html.twig' %}

{% block title %}Volma - Profile{% endblock %}
{% block selectprofile %}class="active" {%endblock%}

{% block body %}

<div class="inner">
    
                          <table width="92%" border="1">
  <tr>
    <td height="50" colspan="4" class="ab">Frofile Informations</td>
  </tr>
  <tr>
  <tr>
    <td width="25%" rowspan="7"><img src="{{asset('bundles/volunteermanagementsystemstyles/images/dewmal.jpg')}}" width="200" height="200" /></td>
    <td width="21%" height="56">User Name</td>
    <td width="41%">:{{user.username}}</td>
    <td width="10%" class="ee"></td>
  </tr>
  <tr>
    <td height="48">Password</td>
    <td>:{{user.password}}</td>
    <td class="fffg"></td>
  </tr>
  <tr>
    <td height="47">First Name</td>
    <td>:{{user.firstname}}</td>
    <td class="fffg"></td>
  </tr>
  <tr>
    <td height="46">Last Name</td>
    <td>:{{user.lastname}}</td>
    <td class="fffg"></td>
  </tr>
  <tr>
    <td height="52">Email Address</td>
    <td>:{{user.email}}</td>
    <td class="fffg"></td>
  </tr>
  <tr>
    <td height="48">Contact Number</td>
    <td>:{{user.phoneNumber}}</td>
    <td class="fffg"></td>
  </tr>
  <tr>
    <td height="46">Gender</td>
    <td>:{{user.gender}}</td>
    <td class="fffg"></td>
  </tr>
  <tr>
    <td width="28%" height="41">&nbsp;</td>
    <td>Birthday </td>
    <td>:{{user.dateOfBirth|date("m/d/Y") }}</td>
    <td class="fffg"></td>
  </tr>
  <tr>
    <td width="28%" height="41">&nbsp;</td>
    <td></td>
    <td></td>
    <td class="fffg"><a href="{{ path("edit_profile") }}">edit</a></td>
  </tr>
</table>
{% endblock %}
