{% extends '::base.html.twig' %}
{% block title %}Volma - Admin Management{% endblock %}

{% block body %}

<section class="container">
    <div class="notify">
        <h1>Promote Volunteers</h1>
         {{ form_start(form1) }}
        {{ form_errors(form1) }}
        <p align="center">

{{form_label(form1.id)}}<br>
{{form_widget(form1.id)}}

            <br><br>
                {{form_widget(form1.submit)}}
                  {{ form_end(form1) }}
        </p>
    </div></section>

<section class="container">
    <div class="notify">
        <h1>Demote Administrators</h1>
             {{ form_start(form2) }}
        {{ form_errors(form2) }}
        <p align="center">

{{form_label(form2.id)}}<br>
{{form_widget(form2.id)}}
            <br><br>
                {{form_widget(form2.submit)}}
                      {{ form_end(form2) }}
        </p>
    </div></section>
<section class="container">
    <div class="notify">
        <h1>Project Report</h1>
 {{ form_start(form3) }}
        {{ form_errors(form3) }}
        <p align="center">

{{form_label(form3.name)}}<br>
{{form_widget(form3.name)}}
            <br><br>
                {{form_widget(form3.submit)}}
                      {{ form_end(form3) }}
        </p>
    </div></section>
<section class="container">
    <div class="notify">
        <h1>Volunteer Report</h1>
 {{ form_start(form4) }}
        {{ form_errors(form4) }}
        <p align="center">

{{form_label(form4.id)}}<br>
{{form_widget(form4.id)}}
            <br><br>
                {{form_widget(form4.submit)}}
                      {{ form_end(form4) }}
        </p>
    </div></section>
{% endblock %}