{% extends '::base.html.twig' %}

{% block title %}Volma - Project Creation{% endblock %}

{% block body %}
 <section class="container">
    <div class="notify">
      <h1>Enter Project Information</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
      <strong>Project Name</strong><br>
        {{form_widget(form.name)}}        
        <br><br>
        <strong>Project Description</strong><br>        
        {{form_widget(form.description)}}        
        <br><br>
        <strong>Project Objectives</strong><br>   
        {{form_widget(form.objectives)}}        
        <br><br>
        <strong>Project Manager</strong><br>   
        {{form_widget(form.projectmanager)}}        
        <br><br>
        <strong>Start Date</strong><br>   
        {{form_widget(form.startdate)}}        
        <br><br>
        <strong>Schedule End Date</strong><br>   
        {{form_widget(form.deadline)}}        
        <br><br>
        <p align="right">
        {{form_widget(form.submit)}}
        {{ form_end(form) }}
                </p>
    </div>
        

  </section>


{% endblock %}





