{% extends '::base.html.twig' %}

{% block title %}Volma - Projects{% endblock %}
{% block selectprojects %} class="active" {%endblock%}

{% block body %}
{% block admin %}
{% endblock %}
<section class="container">
    <div class="notify">
        <h1> Event</h1>
        <table>
            <h1>Members</h1>
       <ul>
    {% for user in users %}
        <li>{{ user.username|e }}</li>
    {% endfor %}
</ul>
            <tr>
            <td><strong>Event Name</strong></td><td>{{event.name}}</td>
            </tr>
         <br>
            <tr>
         <td><strong>Team Leader</strong></td><td>{{teamleader}}</td>
            </tr>
            <br>
            <tr>
         <td><strong>Event Description</strong></td><td>{{event.description}}</td>
            </tr>
            <br>
            <tr>
          <td><strong>Event goals</strong></td><td>{{event.description}}</td>
            </tr>
            <br>
            <tr>
         <td><strong>Start date</strong></td><td>{{event.startdate|date("m/d/Y") }}</td>
            </tr>
            <br>
            <tr>
         <td><strong>end date</strong></td><td>{{event.enddate|date("m/d/Y") }}</td>
            </tr>
            <br>
        </table>
        
    
    </div>
{% endblock %}