{% extends '::base.html.twig' %}

{% block title %}Volma - Contacts{% endblock %}
{% block selectcontacts %} class="active" {%endblock%}

{% block body %}
<section class="container">
    <div class="notify">
        <h1>Search Volunteers</h1>
       
   <strong> {{ form_start(form) }}
        {{ form_errors(form) }}</strong><t>
<p align="center">         
{{form_widget(form.firstname)}}   
        
        {{form_widget(form.submit)}}
    {{ form_end(form) }}
      </p>
       </div></section>
<section class="container">
    <div class="notify" width=500>
        <h1>Contact List </h1>
        <table width=90%>
    {% for res in result %}
        <tr><td>
        <strong>{{ res['firstname'] }}&nbsp;{{ res['lastname'] }}</td><td></strong>
        
        {{ res['email'] }}</td><td>
        {{ res['mobilenumber'] }}</td><td>
        {{ res['accesslevel'] }}</td>
        </tr>
    {% endfor %}</table>
        </div></section>
{% endblock %}

