{% extends '::base.html.twig' %}

{% block title %}Volma - Profile{% endblock %}
{% block selectprofile %}class="active" {%endblock%}

{% block body %}

<div class="inner">
                               <table width="398" border="0" align="center" cellpadding="0">
  <tr>
    <td height="26" colspan="2">Your Profile Information 
      </td>
	<td><div align="right"><a href="{{ path("account_logout") }}">logout</a></div></td>
  </tr>
  <tr>
    <td width="129" rowspan="5"><img src="<?php echo $picture ? >" alt="no image found" align="right"/></td>
    <td width="82" valign="top"><div align="left">First Name:{{fname}}</div></td>
    <td width="165" valign="top"><?php echo $fname ?></td>
  </tr>
  <tr>
    <td valign="top"><div align="left">Last Name:{{lname}}:</div></td>
    <td valign="top"><?php echo $lname ?></td>
  </tr>
  <tr>
    <td valign="top"><div align="left">Gender:{{gender}}</div></td>
    <td valign="top"><?php echo $gender ?></td>
  </tr>
  <tr>
    <td valign="top"><div align="left">Email Address:{{email}}</div></td>
    <td valign="top"><?php echo $Email ?></td>
  </tr>
  <tr>
    <td valign="top"><div align="left">Contact Number:{{phone}} </div></td>
    <td valign="top"><?php echo $contact ?></td>
  </tr>
</table></div>
{% endblock %}
