{% extends "::base.html.twig" %}

{% block title %}Volma-User Report {{user.firstname}} {{user.lastname}}{% endblock %}

{% block body %}

<div class="propic" >
   <img src="{{asset('bundles/volunteermanagementsystemstyles/images/me.jpg')}}" width="200" height="200"></h2>
             </div> 

<h1>User Personal Details</h1>  
<table width="93%">
  <tr>
    <th width="18%" height="33" scope="row">&nbsp;</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
    
  <tr>
    <td height="34">&nbsp;</td>
    <td><strong>Name with Initials</strong></td>
    <td>{{user.namewithinitials}}</td>
    
  </tr>
  <tr>
    <td height="34">&nbsp;</td>
    <td><strong>First Name</strong> </td>
    <td>{{user.firstname}}</td>
    
  </tr>
  <tr>
    <td height="34">&nbsp;</td>
    <td><strong>Last Name </strong></td>
    <td>{{user.lastname}}</td>
    
  </tr>
  <tr>
    <td height="34">&nbsp;</td>
    <td><strong>NIC</strong></td>
    <td>{{user.nic}}</td>
    
  </tr>
  <tr>
    
    <td height="34">&nbsp;</td>
    <td><strong>Gender</strong></td>
    <td>{{user.gender}}</td>
    
  </tr>
  <tr>
    
    <td height="34">&nbsp;</td>
    <td><strong>Date of Birth </strong></td>
    <td>{{user.dateOfBirth|date("m/d/Y") }}</td>
    
  </tr>
  <tr>
    
    <td height="34">&nbsp;</td>
    <td><strong>Email</strong></td>
    <td>{{user.email}}</td>
    
  </tr>
  <tr>
    
    <td height="34">&nbsp;</td>
    <td><strong>Mobile Number</strong> </td>
    <td>{{user.mobilenumber}}</td>
    
  </tr>
  <tr>
    
    <td height="34">&nbsp;</td>
    <td><strong>Contact Number </strong></td>
    <td>{{user.phonenumber}}</td>
    
  </tr>
  <tr>
    
    <td height="34">&nbsp;</td>
    <td><strong>Address</strong></td>
    <td>{{user.address}}</td>
    
  </tr>
  <tr>
    
    <td height="34">&nbsp;</td>
    <td><strong>City</strong</td>
    <td>{{user.city}}</td>
    
  </tr>
  <tr>
    
    <td height="34">&nbsp;</td>
    <td><strong>Country</strong></td>
    <td>{{user.country}}</td>
  </tr>

  
  
  
</table> 

<h1>User Track Record</h1>  

<table width="93%">
  <tr>
    <th width="18%" height="33" scope="row"> &nbsp;</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="34">&nbsp;</td>
    <td><strong>Joined date</strong></td>
    <td>{{trackrecord.joinedDate|date("m/d/Y")}}</td>
    
  </tr>
  <tr>
    <td height="34">&nbsp;</td>
    <td><strong>Overall Rating</strong></td>
    <td>{{trackrecord.overallRating}}</td>
    
  </tr>
  <tr>
    <td height="34">&nbsp;</td>
    <td><strong>Projects Participated</strong></td>
    <td>{{trackrecord.projectHistory}}</td>
    
  </tr>
  <tr>
    <td height="34">&nbsp;</td>
    <td><strong>Events Participated</strong></td>
    <td>{{trackrecord.eventHistory}}</td>
    
  </tr>
  <tr>
    <td height="34">&nbsp;</td>
    <td><strong>Comments by team leaders</strong></td>
    <td>{{trackrecord.comments}}</td>
    
  </tr>
  <tr>
    <td height="34">&nbsp;</td>
    <td><strong>Workshops Participated</strong></td>
    <td>{{trackrecord.workshopsAttended}}</td>
    
  </tr>
</table>

{% endblock %}