{% extends '::base.html.twig' %}

{% block title %}Volma - Contacts{% endblock %}
{% block selectcontacts %} class="active" {%endblock%}

{% block body %}
    {% for res in result %}
        <li>{{ res['firstname'] }}</li>
        <li>{{ res['lastname'] }}</li>
        <li>{{ res['email'] }}</li>
        <li>{{ res['mobilenumber'] }}</li>
        <li>{{ res['accesslevel'] }}</li>
        <br>
    {% endfor %}
{% endblock %}
