{% extends '::base.html.twig' %}
{% block title %}Volma - News Creation{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}

<h1 align ="center"> Please fill the form in the correct format </h1>
 <section class="container">
    <div class="login">
      <h1>Create News</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{form_row(form.news.heading)}}        
        <br>
        {{form_row(form.news.description)}}        
        <br><br>
        <p align="center">
       
        {{form_widget(form.news.submit)}}
         </p>
        {{ form_end(form) }}
               
 
    </div>
        

  </section>


{% endblock %}

