{% extends '::base.html.twig' %}

{% block title %}Volma - Login
{% endblock %}
{% block menu %}
{% endblock %}
{% block body %}
{% block fos_user_content %}
<div class="wrapper">
                                  <article class="grid_12">
                                    
                                    <div class="wrapper">
                                      <article class="grid_6 alpha">
                                        <p>
                                          <figure class="img-indent frame"><img src="{{asset('bundles/volunteermanagementsystemstyles/images/volunteers.jpg')}}" alt="" width="347" height="230" /></figure>
                                        </p>
                                        
                                      </article>
                                      <div class="extra-wrap">
                                        <div class="indent-top">
                                          <ul class="list-1">
                                            <li class="phone-numb">
                                                        <h1 class="price">Sign In</h1>
                                            </li>
                                            <li></li>
                                            <li>
                                              <table width="82%" border="0" cellspacing="0" cellpadding="4" align="center">
                                                <tr style="vertical-align: top" align="center">
                                                  <td width="62%" class="StoryContentColor"><h4 class="TitleColor">
                                                     <form action="{{ path("account_login") }}" method="POST">
                                                    </h4>
                                                    
                                                     <p align = "right">

                                                    <input type="text" id="username" name="username" placeholder="{{ 'username'|trans }}" required="required" />
                                                    </h4>
                                                    <br>
                                                    <br>
                                                    <input type="password" id="password" name="password" placeholder="{{ 'password'|trans }}" required="required" />
                                                    <br> <br>
                                                    <input type="checkbox" id="remember" name="remember" value="on" />
                                                     <label for="remember">{{ 'remember_me'|trans }}</label><t> </t>
                                              <br> <br>
                                                    <input class ="button" type="submit" id="_submit" name="_submit" value="{{ 'Sign in'|trans }}" />
                                                         
                                                     </p>
                                                    </h4>
                                                    <p align="center">
                                                   Not a Volunteer?
                                                     <a href="{{ path("account_register") }}">Sign Up</a>
                                                    </p> </form>
                                                                  <br><br>
                                                    </h4></td>
                                                </tr>
                                              </table>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </article>
                                </div>
    

    

    
{% endblock fos_user_content %}
{% endblock %}




